* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

button {
  padding: 0.2rem 1rem;
  margin: 0.1rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  outline: rgb(99, 151, 254);
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
}

button:hover {
  border-color: rgb(99, 151, 254);
}

a {
  text-decoration: none;
  color: inherit;
}

.EmployeeTable {
  padding: 0.5rem;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table tbody tr {
  background-color: rgb(198, 218, 255);
}

table tbody tr:nth-child(even) {
  background-color: rgb(219, 230, 255);
}

table td,
table th {
  padding: 0.2rem;
}

table button {
  padding: 0.2rem 1rem;
  margin: 0.1rem;
}

form {
  display: grid;
  font-size: 1.2rem;
}

form .control {
  width: 100%;
  padding: 1rem;
  display: grid;
  gap: 0.2rem;
}

form .buttons {
  font-size: 1.2rem;
  padding: 1rem;
}

form .control input,
form .control select {
  font-size: 1.2rem;
  padding: 0.2rem;
}

form .control .checkbox,
form .control .radio {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
}

form button {
  padding: 0.7rem 1.7rem;
  margin-right: 1rem;
}

.grow {
  flex: 1;
}
